<div class="container">
  <header>
    <div
      class="
        d-flex
        flex-column flex-md-row
        align-items-center
        pb-3
        mb-4
        border-bottom
      "
    >
      <a
        routerLink="/"
        class="d-flex align-items-center text-dark text-decoration-none"
      >
        <span class="fs-4">Angular Playground</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/auth"
          >Auth</a
        >
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/http"
          >Http</a
        >
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/chart"
          >Chart</a
        >
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/rxjs"
          >RxJs</a
        >
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/event"
          >Events</a
        >
        <a
          class="me-3 py-2 text-dark text-decoration-none"
          routerLink="/security"
          >Security</a
        >
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/i18n"
          >i18n</a
        >
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/anim"
          >Animation</a
        >
      </nav>
    </div>
  </header>

  <div [@routeFadeAnimation]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
