<div class="d-flex flex-column h-100">
  <div class="container">
    <header>
      <div
        class="
          d-flex
          flex-column flex-md-row
          align-items-center
          pb-3
          mb-4
          border-bottom
        "
      >
        <a
          routerLink="/"
          class="d-flex align-items-center text-dark text-decoration-none"
        >
          <span class="fs-4">Angular Playground</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto"></nav>
      </div>
    </header>
    <main class="flex-shrink-0">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
</div>
